[Unit]
Description=update the hosts file to remove ads
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/share/removeadhosts/removeadhosts.sh

[Install]
WantedBy=multi-user.target
